@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  src: url(../font/roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Black';
  src: url(../font/roboto/Roboto-Black.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Light';
  src: url(../font/roboto/Roboto-Light.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
//////////////////////// vars/basic //////////////////////
$primary-color: #B71C1C;
$secondary-color: #FFEBEE;
$third-color: #3d3718;
$bg-color: #1f1e19;
$white: #fefefe;
$black: #1e1d19;
a {
  text-decoration: none;
  color: inherit;
}
p {
  font-size: 20px;
  line-height: 2em;
}
//////////////////////// slider //////////////////////
.slider {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.slide {
  position: absolute;
  width: 100%;
  max-height: 400px;
  animation: slideme 30s infinite;
  -webkit-animation: slideme 30s infinite;
  opacity: 0;
  img {
    position: relative;
    width: 100%;
    height: 100%;
  }
  h1 {
    position: absolute;
    top: calc(50% - 37.5px);
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 5px #000;
  }
  a {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
@keyframes slideme {
  from {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
}
@-webkit-keyframes slideme {
  from {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
}
.slide:nth-child(1) {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
.slide:nth-child(2) {
  animation-delay: 10s;
  -webkit-animation-delay: 10s;
}
.slide:nth-child(3) {
  animation-delay: 20s;
  -webkit-animation-delay: 20s;
}
//////////////////////// end //////////////////////
//////////////////////// sections //////////////////////
section.section--center {
  margin-top: 85px;
  max-width: 860px;
  position: relative;
  margin-bottom: 48px;
  .mdl-card {
    height: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    .mdl-card__supporting-text {
      margin: 40px;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      padding: 0;
      color: inherit;
      width: calc(100% - 80px);
    }
  }
  .mdl-card__supporting-text + .mdl-card__actions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
  }
  .mdl-card__actions {
    margin: 0;
    padding: 4px 40px;
    color: inherit;
    a {
      color: #00BCD4;
      margin: 0;
    }
  }
  .mdl-card > * {
    height: auto;
  }
  & > button {
    position: absolute;
    z-index: 99;
    top: 8px;
    right: 8px;
  }
  & > .mdl-menu__container {
    z-index: 99;
  }
  & > header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    .material-icons {
      font-size: 3rem;
    }
  }
  .section__play-btn {
    min-height: 200px;
  }
}
section .section__circle-container > .section__circle-container__circle {
  width: 100px;
height: 100px;
margin: 8px 0;
}
//////////////////////// end //////////////////////
//////////////////////// card ///////////////////////////
.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background: url(../img/1.jpg) center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
//////////////////////// end //////////////////////
////////////////////// all heading ///////////////////////
.first-section {
  padding: 20vh 0;
  text-align: center;
  background-attachment: fixed;
  background-size: cover;
  h1 {
    color: #fff;
    text-shadow: 1px 1px 5px #000;
  }
}
//////////////////////// end ////////////////////////////
//////////////////////// product -page //////////////////////
.product-page {
  background-image: url(../img/product-bg.jpg);
}
//////////////////////// end ////////////////////////////
//////////////////////// about-page //////////////////////
.about-page {
  background-image: url(../img/about-bg.jpg);
}
//////////////////////// end ////////////////////////////
//////////////////////// contact -page //////////////////////
.contact-page {
  background-image: url(../img/contact-bg.jpg);
}
.map {
  min-height: 300px;
  iframe {
    min-height: 300px;
  }
}
.contact-form {
  h3 {
    margin: 0;
    text-align: center;
    font-size: 25px;
    background-color: #3F51B5;
    color: #fff;
    padding: 80px 0;
    height: 100%;
    position: relative;
  }
  form {
    padding: 50px 30px;
    text-align: center;
    position: relative;
    .mdl-textfield {
      width: calc(100% - 15px);
    }
  }
}
//////////////////////// end //////////////////////
//////////////////////// page //////////////////////
.page.mdl-grid {
  margin: 0;
  padding: 0;
  margin-top: 50px;
  > div {
    margin: 0;
  }
  h3 {
    margin: 0;
    text-align: center;
    font-size: 25px;
    background-color: #3F51B5;
    color: #fff;
    padding: 80px 0;
    height: 100%;
    position: relative;
  }
  p {
    padding: 20px 15px;
    min-height: 200px;
  }
}
//////////////////////// end ////////////////////////////
//////////////////////// footer //////////////////////

//////////////////////// end //////////////////////
